/* commons */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: black;
}

/* **** header **** */

header {
    height: 50px;
    display: flex;
    color: white;
    justify-content: flex-end;
    align-items: flex-start;
    padding-right: 8px;
}

header .speaker,
header .fs {
    font-size: 14px;
    color: white;
    background: linear-gradient(#3d3d3d, #1f1f1f);
    border-radius: 5px;
    padding: 4px 8px;
    margin: 7px 2px;
    cursor: pointer;
}

header .speaker i {
    padding-right: 5px;
}

/* **** main **** */

main {
    height: calc(100vh - 105px);
    display: flex;
    padding-bottom: 40px;
    color: white;
}

/* caret */

main .caret {
    width: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

main .caret:first-child {
    padding-right: 8px;
}

main .caret:last-child {
    padding-left: 8px;
}

main .caret i {
    font-size: 48px;
    color: #7f7f7f;
}

main .caret i.active {
    color: #2ebaff;
}

main .caret span {
    font-size: 14px;
}

/* center col */

main .center-col {
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
}

main .center-col .box {
    height: 19%;
    width: 19.5%;
    display: flex;
    align-items: flex-end;
    background-image: url(../img/zoom-user.png);
    background-size: cover;
}

main .center-col .box .user-name {
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 1px 4px;
}

/* **** footer **** */

footer {
    height: 55px;
    color: #dcdcdc;
    background: linear-gradient(#3d3d3d, #1f1f1f);
    display: flex;
    justify-content: space-between;
}

footer i {
    font-size: 26px;
}

footer .chevron i {
    font-size: 16px;
}

footer span {
    font-size: 15px;
}

footer .left-footer,
footer .center-footer {
    display: flex;
    align-items: center;
}

footer .left-footer > div,
footer .center-footer > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 15px;
    cursor: pointer;
}

footer .left-footer > div {
    margin: 0 12px;
}

footer .center-footer .manage-p {
    position: relative;
}

footer .center-footer .manage-p span:last-child {
    position: absolute;
    top: 2px;
    right: 28px;
}

footer .right-footer {
    line-height: 55px;
    text-align: center;
    color: rgb(230, 62, 62);
    background-color: #4a4b4d;
    padding: 0 15px;
    cursor: pointer;
}

/* debug */

main.debug {
    background-color: beige;
}

.debug .caret,
.debug .center-col {
    border: 1px solid black;
}

.debug .center-col .box {
    height: 19%;
    border: 1px solid black;
}

footer.debug {
    background-color: blueviolet;
}

footer.debug > div {
    background-color: turquoise;
    border: 1px solid black;
}

footer.debug .left-footer {
    width: 15%;
}

footer.debug .center-footer {
    width: 65%;
}

footer.debug .right-footer {
    width: 10%;
}